Source: usb-msd
Section: main
XBSC-Family: pic32
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
XBSC-TieCore: chpikit
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libusb-msd
Architecture: all
XBSC-Group: Libraries
XBSC-Subgroup: Communications
XBSC-Subsubgroup: Protocols
Depends: chipkit
Provides: USB-UL-MSD.h
Description: USB MSD library



